.btn {
    border: none;
    padding: 10px 20px;
    background-color: hsl(12, 88%, 59%);  
    border-radius: 20px;
    font-family: "Be Vietnam Pro";
    font-weight: bold;
    color: #FFF;
    box-shadow: 0 8px 16px 0 hsl(13, 100%, 96%), 0 6px 20px 0 rgba(0,0,0,0.19);
    letter-spacing: 1.2px;
    &:hover {
        cursor: pointer;
    }
}